<h1>
  <label class="control-label"> CheckAll Uncheck</label>

</h1>
<div class="row">
<div *ngFor="let app of appUserRoleList">
<input type="checkbox" class="form-control" [(ngModel)]="app.isChecked"
(change)="OnChangeCheck(app.id,$event)"
id="{{app.id}}" name="{{app.roleName}}" >
<label class="control-label">
  {{app.roleName}} 
</label>
</div>  
<button (click)="checkedEvnt(false)">UnCheckAll</button>
<button (click)="checkedEvnt(true)">CheckAll</button>
</div>
<div>{{userRoleListTemp|json}}</div>
